@keyframes rotation {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes snow {
    0% {
        transform: translateY(-12rem) rotate(45deg);
    }

    50%,
    100% {
        transform: translateY(12rem) rotate(45deg);
    }
}

@keyframes thunder {

    0%,
    25%,
    75%,
    100% {
        filter: drop-shadow(0px -1px 0px #cfb8e5) drop-shadow(0px 0px 0px #9a4ee7) drop-shadow(0px 0px 0px rgba(#9a4ee7, 30%)) drop-shadow(-2px -2px 1px #3c3762) drop-shadow(4px 1px 1px #3c3762)
    }

    50% {
        filter: drop-shadow(0px -1px 0px #cfb8e5) drop-shadow(0px 0px 3px #9a4ee7) drop-shadow(0px 0px 30px rgba(#9a4ee7, 30%)) drop-shadow(-2px -2px 1px #3c3762) drop-shadow(4px 1px 1px #3c3762);
    }
}

@keyframes floating {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(1rem)
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(0.9)
    }
}

@keyframes neon {

    0%,
    40%,
    60%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0.9);
    }
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2rem;
}

.icon {
    position: relative;
    width: 18rem;
    height: 13rem;
    transform: scale(0.8);

    &__rainbow {
            position: absolute;
            right: 0rem;
            top: -2rem;
            height: 14rem;
            width: 14rem;
            filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
            animation: pulse 4s infinite;
    
            &-arc {
                position: absolute;
                inset: 0;
                border-radius: 50%;
                color: red;
                animation: neon 4s infinite;
    
                &:nth-child(1) {
                    color: #ff1f5d;
                }
    
                &:nth-child(2) {
                    color: #eb8125;
                    inset: 0.9rem;
                    animation-delay: 0.2s;
                }
    
                &:nth-child(3) {
                    color: #fbff0e;
                    inset: 1.8rem;
                    animation-delay: 0.4s;
                }
    
                &:nth-child(4) {
                    color: #a8ef3c;
                    inset: 2.7rem;
                    animation-delay: 0.6s;
                }
    
                &:nth-child(5) {
                    color: #59d9ff;
                    inset: 3.6rem;
                    animation-delay: 0.8s;
                }
    
                &:nth-child(6) {
                    color: #6685f5;
                    inset: 4.5rem;
                    animation-delay: 1s;
                }
    
                &:nth-child(7) {
                    color: #6a38e1;
                    inset: 5.4rem;
                    animation-delay: 1.2s;
                }
            }
        }
    
        &__snow {
            position: absolute;
            top: 12.8rem;
            left: 0;
            width: 100%;
            height: 10rem;
            overflow: hidden;
    
            &-flakes {
                position: absolute;
                top: 0;
                left: 13rem;
                height: 0.8rem;
                width: 0.8rem;
                background: #fff;
                animation: snow 3s linear infinite;
                transform: translateY(-12rem) rotate(45deg);
                opacity: 0.5;
                color: #fff;
            }
        }
    
        &__rain {
            position: absolute;
            top: 12.8rem;
            left: 0;
            width: 100%;
            height: 10rem;
            overflow: hidden;
    
            &-drops {
                position: absolute;
                top: 0;
                left: 13rem;
                height: 0.6rem;
                width: 0.6rem;
                background: #7a98e9;
                animation: snow 3s linear infinite;
                animation-delay: 1s;
                transform: translateY(-12rem) rotate(45deg);
                opacity: 1;
                color: #7a98e9;
                border-radius: 0 1rem 1rem;
            }
        }


    &__sun {
        position: absolute;
        top: 1rem;
        right: 3.5rem;
        height: 5rem;
        width: 5rem;
        background: linear-gradient(45deg, #f09559 40%, #f0ca43);
        border-radius: 50%;
        filter: drop-shadow(0 0 10px rgba(#efda90, 0.4)) drop-shadow(0 0 30px rgba(#f0ca43, 0.4));

        &-lights {
            position: absolute;
            inset: 0;
            animation: rotation 6s linear infinite;
        }

        &-light {
            position: absolute;
            top: -2.75rem;
            left: 50%;
            margin-left: -0.45rem;
            border-radius: 1rem;
            width: 0.9rem;
            height: 2.5rem;
            background: linear-gradient(45deg, #f0b343, #f0ca43);
            transform-origin: 50% 5.25rem;

            @for $c from 2 to 9 {
                &:nth-child(#{$c}) {
                    transform: rotate(($c - 1)* 360deg/8);
                }
            }
        }
    }

         &__thunder {
             position: absolute;
             top: 10rem;
             left: 50%;
             margin-left: -2.4rem;
             width: 4.8rem;
             height: 8.6rem;
             filter: drop-shadow(0px -1px 0px #cfb8e5) drop-shadow(0px 0px 0px #9a4ee7) drop-shadow(-2px -2px 1px #3c3762) drop-shadow(4px 1px 1px #3c3762);
             animation: thunder 3s infinite, floating 3s infinite;
    
             &:before,
             &:after {
                 content: '';
                 position: absolute;
                 top: 0;
                 left: 0;
                 background: #645d95;
                 height: 5rem;
                 width: 3rem;
                 border-radius: 0.4rem;
                 clip-path: polygon(100% 100%, 0% 100%, 100% 0);
             }
    
             &:after {
                 top: auto;
                 bottom: 0;
                 left: auto;
                 right: 0;
                 clip-path: polygon(0% 100%, 100% 0%, 45% 0%, 0% 26%);
             }
         }


    &__cloud {
        position: absolute;
        left: 0;
        top: 1rem;
        width: 18rem;
        height: 12rem;
        background: rgb(255 255 255 / 45%);

        .weather--snow & {
            background: rgb(100 130 197 / 45%);
        }

        .weather--thunder & {
            background: rgb(116 116 116 / 45%);
        }

        .weather--rainbow & {
            background: #4a6676;
        }

        opacity: 1;
        backdrop-filter: blur(8px);
        clip-path: url(#cloud-path);
        box-shadow: inset 0rem -1.3rem 0.25rem -1rem #fff,
        inset 0rem 0rem 5rem 0rem #ffffff4d;

        &-reflect {
            height: 12rem;
            width: 11.9rem;
            border-radius: 50%;
            box-shadow: inset 0rem -1.1rem 0.25rem -1rem #fff, inset 0.45rem 0rem 0.25rem -0.25rem #fff, inset -0.45rem 0.5rem 0.25rem -0.45em #fff, inset 0.25rem 0.25rem 0.5rem 0rem rgb(0 0 0 / 30%);
            clip-path: polygon(0 0, 100% 0%, 100% 33%, 50% 30%, 50% 100%, 0% 100%);

            &--2 {
                position: absolute;
                width: 8.7rem;
                height: 8.7rem;
                bottom: 0.1rem;
                right: 0.5rem;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%, 29% 0%);
            }
        }



        &-svg {
            clipPath {
                transform: scale(0.65);
            }
        }
    }
}